<h1>All cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="cocktail-card"> <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %> </li>
  <% end %>
</ul>

<%= link_to "Add a new cocktail", new_cocktail_path %>


